 .u-section-1 {
  background-image: url("images/IMG_9914.jpg");
  background-position: 50% 49.4%;
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 893px;
}

.u-section-1 .u-group-1 {
  width: 468px;
  min-height: 222px;
  background-image: none;
  height: auto;
  margin: 90px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 35px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  margin: 54px 8px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 736px;
  }

  .u-section-1 .u-group-1 {
    width: 433px;
    min-height: 453px;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.75rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 603px;
  }

  .u-section-1 .u-group-1 {
    width: 326px;
    min-height: 426px;
    margin-top: 29px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 16.91% 100%;
    background-size: auto 115%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-1 .u-group-1 {
    width: 270px;
    min-height: 438px;
    margin-bottom: 48px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 49.79% 100%;
    background-size: 130%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-1 .u-group-1 {
    width: 244px;
    min-height: 126px;
    margin-top: 506px;
    margin-left: auto;
    margin-bottom: 60px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 756px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 636px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 563px;
  left: 0;
  right: auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 5.625rem;
  font-weight: 700;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 524px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 401px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 602px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 599px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 7px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 379px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 233px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 13px 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-left: -52px;
    margin-right: -52px;
  }
} .u-section-3 {
  min-height: 1075px;
}

.u-section-3 .u-shape-1 {
  width: calc(((100% - 1140px) / 2)  + 820px);
  height: 216px;
  background-image: none;
  margin: 632px 0 0 auto;
}

.u-section-3 .u-shape-2 {
  width: 415px;
  height: 447px;
  margin: -550px auto 0 calc(((100% - 1140px) / 2)  + -46px);
}

.u-section-3 .u-image-1 {
  width: 428px;
  min-height: 376px;
  background-image: url("images/fg_150.png");
  margin: -339px auto 0 calc(((100% - 1140px) / 2)  + 259px);
}

.u-section-3 .u-container-layout-1 {
  margin-bottom: 0;
}

.u-section-3 .u-image-2 {
  width: 621px;
  height: 640px;
  margin: -737px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-3 .u-image-3 {
  width: 508px;
  height: 638px;
  object-position: 50% 0%;
  margin: -450px calc(((100% - 1140px) / 2)  + -23px) 60px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-shape-1 {
    width: calc(((100% - 940px) / 2)  + 710px);
    height: 188px;
    margin-top: 578px;
  }

  .u-section-3 .u-shape-2 {
    width: 404px;
    height: 394px;
    margin-top: -467px;
    margin-left: calc(((100% - 940px) / 2) + -35px);
  }

  .u-section-3 .u-image-1 {
    width: 330px;
    min-height: 317px;
    margin-top: -295px;
    margin-left: calc(((100% - 940px) / 2)  + 157px);
  }

  .u-section-3 .u-image-2 {
    width: 453px;
    height: 541px;
    margin-top: -608px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-image-3 {
    margin-right: calc(((100% - 940px) / 2)  + -27px);
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-shape-1 {
    width: calc(((100% - 720px) / 2)  + 600px);
    margin-top: 979px;
  }

  .u-section-3 .u-shape-2 {
    margin-left: calc(((100% - 720px) / 2)  + -35px);
  }

  .u-section-3 .u-image-1 {
    margin-top: -334px;
    margin-left: auto;
  }

  .u-section-3 .u-image-2 {
    width: 471px;
    height: 520px;
    margin-top: -569px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-image-3 {
    margin-right: calc(((100% - 720px) / 2)  + -27px);
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 992px;
  }

  .u-section-3 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 500px);
    height: 182px;
    margin-top: 935px;
  }

  .u-section-3 .u-shape-2 {
    width: 387px;
    height: 368px;
    margin-top: -461px;
    margin-left: calc(((100% - 540px) / 2)  + -35px);
  }

  .u-section-3 .u-image-1 {
    margin-top: -290px;
    margin-right: calc(((100% - 540px) / 2) + 31px);
  }

  .u-section-3 .u-image-2 {
    margin-top: -587px;
    margin-left: 50px;
  }

  .u-section-3 .u-image-3 {
    margin-top: -367px;
    margin-right: calc(((100% - 540px) / 2)  + -27px);
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 1174px;
  }

  .u-section-3 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 280px);
    height: 142px;
    margin-top: 816px;
  }

  .u-section-3 .u-shape-2 {
    width: 272px;
    height: 255px;
    margin-top: -326px;
    margin-left: calc(((100% - 340px) / 2) + -31px);
  }

  .u-section-3 .u-image-1 {
    width: 244px;
    min-height: 171px;
    margin-top: -123px;
    margin-right: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 0 0 30px;
  }

  .u-section-3 .u-image-2 {
    width: 323px;
    height: 315px;
    margin-top: -1044px;
    margin-left: auto;
  }

  .u-section-3 .u-image-3 {
    width: 340px;
    height: 427px;
    margin-top: 16px;
    margin-right: auto;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 485px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: 53px -22px 53px auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 380px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  width: 579px;
  object-position: 50% 77.62%;
  left: -39px;
  right: auto;
}

.u-section-4 .u-image-2 {
  min-height: 380px;
  background-image: url("images/IMG_9724.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 418px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 100px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 313px;
  }

  .u-section-4 .u-image-2 {
    min-height: 313px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 345px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
    margin-right: 210px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 240px;
  }

  .u-section-4 .u-image-2 {
    min-height: 240px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 825px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
    margin-right: 300px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 360px;
  }

  .u-section-4 .u-image-2 {
    min-height: 360px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 560px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: -525px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 227px;
  }

  .u-section-4 .u-image-1 {
    height: 229px;
    margin-top: -27px;
    margin-bottom: 0;
    width: auto;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
  }

  .u-section-4 .u-image-2 {
    min-height: 227px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1169px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.u-section-5 .u-image-1 {
  background-image: url("images/IMG_7090.jpg");
  min-height: 562px;
  background-position: 50% 57.08%;
  background-size: cover;
}

.u-section-5 .u-container-layout-1 {
  padding-right: 30px;
}

.u-section-5 .u-layout-cell-2 {
  background-image: none;
  min-height: 537px;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-image-2 {
  width: 362px;
  left: 80px;
  right: auto;
}

.u-section-5 .u-image-3 {
  background-image: url("images/image0.jpg");
  min-height: 1099px;
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-3 {
  padding-left: 0;
  padding-top: 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 802px;
  }

  .u-section-5 .u-image-1 {
    min-height: 463px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 443px;
  }

  .u-section-5 .u-image-3 {
    min-height: 906px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 525px;
  }

  .u-section-5 .u-image-1 {
    min-height: 355px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 339px;
  }

  .u-section-5 .u-image-3 {
    min-height: 694px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1473px;
  }

  .u-section-5 .u-image-1 {
    min-height: 447px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 509px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-bottom: 50px;
  }

  .u-section-5 .u-image-3 {
    min-height: 1041px;
  }

  .u-section-5 .u-container-layout-3 {
    padding: 50px 0 0 55px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1327px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -616px;
    margin-bottom: 60px;
  }

  .u-section-5 .u-image-1 {
    min-height: 282px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 350px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-5 .u-image-2 {
    height: 349px;
    margin-top: -14px;
    margin-bottom: -14px;
    width: auto;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
  }

  .u-section-5 .u-image-3 {
    min-height: 655px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-top: 30px;
    padding-left: 20px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 725px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 63px;
  margin-bottom: 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 302px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-image-1 {
  width: 510px;
  height: 661px;
  margin: 0 auto -359px 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 302px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 20px 30px 155px;
}

.u-section-6 .u-image-2 {
  min-height: 602px;
  background-image: url("images/IMG_7088.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 681px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 249px;
  }

  .u-section-6 .u-image-1 {
    width: 470px;
    height: 609px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 249px;
  }

  .u-section-6 .u-image-2 {
    min-height: 496px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1424px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 381px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 360px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 381px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 355px;
  }

  .u-section-6 .u-image-2 {
    min-height: 760px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1140px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 286px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 70px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 286px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 70px;
  }

  .u-section-6 .u-image-2 {
    min-height: 570px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 993px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: -488px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 180px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-6 .u-image-1 {
    height: 532px;
    margin-top: -185px;
    margin-bottom: -167px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 180px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 50px;
  }

  .u-section-6 .u-image-2 {
    min-height: 479px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 1683px;
}

.u-section-7 .u-image-1 {
  width: 628px;
  height: 628px;
  background-image: url("images/IMG_0231.jpg");
  background-position: 50% 50%;
  margin: 58px 96px 0 auto;
}

.u-section-7 .u-image-2 {
  width: 276px;
  height: 276px;
  background-image: url("images/IMG_8034.jpg");
  background-position: 50% 50%;
  margin: -594px auto 0 71px;
}

.u-section-7 .u-image-3 {
  width: 389px;
  height: 389px;
  background-image: url("images/IMG_7109.jpg");
  background-position: 50% 71.15%;
  background-size: cover;
  margin: 28px auto 0 130px;
}

.u-section-7 .u-shape-1 {
  width: 119px;
  height: 119px;
  margin: -397px auto 0 20px;
}

.u-section-7 .u-shape-2 {
  width: 250px;
  height: 250px;
  margin: 39px 69px 0 auto;
}

.u-section-7 .u-image-4 {
  width: 466px;
  height: 473px;
  margin: 9px auto 0 79px;
}

.u-section-7 .u-image-5 {
  width: 376px;
  height: 473px;
  margin: -473px 159px 0 auto;
}

.u-section-7 .u-text-1 {
  margin: 28px auto 0;
}

.u-section-7 .u-shape-3 {
  width: 114px;
  height: 107px;
  margin: 11px auto 0 58px;
}

.u-section-7 .u-shape-4 {
  width: 114px;
  height: 107px;
  margin: -107px auto 0 250px;
}

.u-section-7 .u-shape-5 {
  width: 114px;
  height: 107px;
  margin: -107px auto 0 442px;
}

.u-section-7 .u-shape-6 {
  width: 114px;
  height: 107px;
  margin: -107px 408px 0 auto;
}

.u-section-7 .u-shape-7 {
  width: 114px;
  height: 107px;
  margin: -107px 216px 0 auto;
}

.u-section-7 .u-shape-8 {
  width: 114px;
  height: 107px;
  margin: -107px 33px 0 auto;
}

.u-section-7 .u-shape-9 {
  width: 114px;
  height: 107px;
  margin: 41px auto 0 58px;
}

.u-section-7 .u-shape-10 {
  width: 114px;
  height: 107px;
  margin: -107px auto 0 250px;
}

.u-section-7 .u-shape-11 {
  width: 114px;
  height: 107px;
  margin: -107px auto 0 442px;
}

.u-section-7 .u-shape-12 {
  width: 114px;
  height: 107px;
  margin: -107px 408px 0 auto;
}

.u-section-7 .u-shape-13 {
  width: 114px;
  height: 107px;
  margin: -107px 216px 0 auto;
}

.u-section-7 .u-shape-14 {
  width: 114px;
  height: 107px;
  margin: -107px 33px 58px auto;
}

@media (max-width: 1199px) {
  .u-section-7 .u-image-1 {
    width: 562px;
    height: 562px;
    margin-right: 60px;
  }

  .u-section-7 .u-image-2 {
    margin-left: 30px;
  }

  .u-section-7 .u-image-3 {
    width: 362px;
    height: 362px;
    margin-left: 171px;
  }

  .u-section-7 .u-shape-1 {
    margin-left: 52px;
  }

  .u-section-7 .u-shape-2 {
    width: 227px;
    height: 227px;
    margin-right: 20px;
  }

  .u-section-7 .u-image-5 {
    margin-top: -468px;
    margin-bottom: 60px;
  }

  .u-section-7 .u-text-1 {
    font-weight: 400;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-image-1 {
    margin-right: 13px;
  }

  .u-section-7 .u-image-2 {
    margin-left: 20px;
  }

  .u-section-7 .u-image-3 {
    margin-left: 20px;
  }

  .u-section-7 .u-shape-1 {
    margin-left: 13px;
  }

  .u-section-7 .u-shape-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1595px;
  }

  .u-section-7 .u-image-1 {
    width: 488px;
    height: 488px;
    margin-right: 0;
  }

  .u-section-7 .u-image-2 {
    margin-top: -506px;
    margin-left: 0;
  }

  .u-section-7 .u-image-3 {
    width: 323px;
    height: 323px;
    margin-left: -19px;
  }

  .u-section-7 .u-shape-1 {
    margin-left: 0;
  }

  .u-section-7 .u-shape-2 {
    width: 167px;
    height: 167px;
  }

  .u-section-7 .u-image-4 {
    margin-left: 74px;
  }

  .u-section-7 .u-shape-5 {
    margin-left: 426px;
  }

  .u-section-7 .u-shape-11 {
    margin-left: 426px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1173px;
  }

  .u-section-7 .u-image-1 {
    width: 293px;
    height: 293px;
    margin-top: -425px;
    margin-right: -50px;
  }

  .u-section-7 .u-image-2 {
    width: 212px;
    height: 212px;
    margin-top: -444px;
  }

  .u-section-7 .u-image-3 {
    width: 240px;
    height: 240px;
    margin-top: -21px;
    margin-left: -50px;
  }

  .u-section-7 .u-shape-1 {
    width: 73px;
    height: 73px;
    margin-top: -458px;
    margin-left: -21px;
  }

  .u-section-7 .u-shape-2 {
    width: 101px;
    height: 101px;
    margin-top: 20px;
    margin-right: 27px;
  }

  .u-section-7 .u-image-4 {
    height: 345px;
    margin-top: 744px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-image-5 {
    height: 428px;
    margin-top: -793px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-text-1 {
    font-weight: 700;
    width: auto;
    margin-top: 376px;
    margin-left: -50px;
    margin-right: -50px;
  }

  .u-section-7 .u-shape-3 {
    margin-top: 105px;
    margin-left: auto;
  }

  .u-section-7 .u-shape-4 {
    margin-top: -105px;
    margin-right: -34px;
    margin-left: auto;
  }

  .u-section-7 .u-shape-5 {
    margin-top: -214px;
    margin-right: -34px;
    margin-left: auto;
  }

  .u-section-7 .u-shape-6 {
    margin-top: 222px;
    margin-right: auto;
    margin-left: -32px;
  }

  .u-section-7 .u-shape-7 {
    margin-top: -438px;
    margin-right: auto;
    margin-left: -32px;
  }

  .u-section-7 .u-shape-8 {
    margin-top: -105px;
    margin-right: auto;
  }

  .u-section-7 .u-shape-9 {
    margin-top: -2px;
    margin-left: -32px;
  }

  .u-section-7 .u-shape-10 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-7 .u-shape-11 {
    margin-right: -34px;
    margin-left: auto;
  }

  .u-section-7 .u-shape-12 {
    margin-right: auto;
    margin-left: -32px;
  }

  .u-section-7 .u-shape-13 {
    margin-top: 10px;
    margin-right: auto;
  }

  .u-section-7 .u-shape-14 {
    margin-right: -34px;
    margin-bottom: 12px;
  }
} .u-section-8 {
  min-height: 500px;
}

.u-section-8 .u-gallery-1 {
  height: 523px;
  grid-gap: 10px;
  margin: 0 auto 0 0;
}

.u-section-8 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 0px;
}

.u-section-8 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
   .u-section-8 {
    min-height: 407px;
  }

  .u-section-8 .u-gallery-1 {
    height: 430px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
   .u-section-8 {
    min-height: 983px;
  }

  .u-section-8 .u-gallery-1 {
    height: 1006px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
   .u-section-8 {
    min-height: 2270px;
  }

  .u-section-8 .u-gallery-1 {
    height: 2293px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
   .u-section-8 {
    min-height: 1451px;
  }

  .u-section-8 .u-gallery-1 {
    height: 1451px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 742px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 646px;
}

.u-section-9 .u-container-layout-1 {
  padding: 0;
}

.u-section-9 .u-image-1 {
  width: 281px;
  left: -13px;
  right: auto;
}

.u-section-9 .u-image-2 {
  width: 295px;
  left: auto;
  right: -13px;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 399px;
}

.u-section-9 .u-container-layout-2 {
  padding: 0;
}

.u-section-9 .u-image-3 {
  width: 281px;
  left: 0;
  right: auto;
}

.u-section-9 .u-image-4 {
  width: 280px;
  left: auto;
  right: -11px;
}

.u-section-9 .u-image-5 {
  min-height: 247px;
  background-image: url("images/IMG_9722.webp");
  background-position: 50% 50%;
}

.u-section-9 .u-container-layout-3 {
  padding: 0;
}

.u-section-9 .u-image-6 {
  min-height: 247px;
  background-image: url("images/IMG_9252.webp");
  background-position: 50% 50%;
}

.u-section-9 .u-container-layout-4 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 704px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 533px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 329px;
  }

  .u-section-9 .u-image-5 {
    min-height: 204px;
  }

  .u-section-9 .u-image-6 {
    min-height: 204px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-layout-cell-1 {
    min-height: 817px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 504px;
  }

  .u-section-9 .u-image-5 {
    min-height: 313px;
  }

  .u-section-9 .u-image-6 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-layout-cell-1 {
    min-height: 613px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 378px;
  }

  .u-section-9 .u-image-5 {
    min-height: 391px;
  }

  .u-section-9 .u-image-6 {
    min-height: 295px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1204px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-top: 21px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 386px;
  }

  .u-section-9 .u-image-1 {
    width: 170px;
    left: 0;
  }

  .u-section-9 .u-image-2 {
    width: 170px;
    right: 0;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 238px;
  }

  .u-section-9 .u-image-3 {
    height: 219px;
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
  }

  .u-section-9 .u-image-4 {
    right: -369px;
  }

  .u-section-9 .u-image-5 {
    min-height: 246px;
  }

  .u-section-9 .u-image-6 {
    min-height: 234px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 810px;
}

.u-section-10 .u-image-1 {
  width: 274px;
  height: 550px;
  margin: 152px auto 0 0;
}

.u-section-10 .u-image-2 {
  width: 296px;
  height: 550px;
  margin: -550px auto 0 274px;
}

.u-section-10 .u-image-3 {
  width: 268px;
  height: 550px;
  margin: -550px 0 0 auto;
}

.u-section-10 .u-image-4 {
  width: 302px;
  height: 550px;
  margin: -550px 268px 60px auto;
}

@media (max-width: 991px) {
  .u-section-10 .u-image-3 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-image-2 {
    margin-top: 20px;
    margin-left: 244px;
  }

  .u-section-10 .u-image-4 {
    margin-top: 20px;
    margin-right: 238px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 2220px;
  }

  .u-section-10 .u-image-1 {
    height: 496px;
    margin-top: -85px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-10 .u-image-2 {
    height: 543px;
    margin-top: 19px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-10 .u-image-3 {
    height: 611px;
    margin-top: 19px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-10 .u-image-4 {
    height: 582px;
    margin-top: 19px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-11 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('images/IMG_9949.webp');
  background-position: 66.2% 50%;
}

.u-section-11 .u-sheet-1 {
  min-height: 800px;
}

.u-section-11 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 107px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 760px;
  }

  .u-section-11 .u-text-1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 830px;
  }

  .u-section-11 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
   .u-section-11 {
    background-position: 66.2% 50%, 56.23% 50%;
    background-size: cover;
  }

  .u-section-11 .u-sheet-1 {
    min-height: 702px;
  }

  .u-section-11 .u-text-1 {
    font-size: 3rem;
  }
}